{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Project 1: Automated Machine Learning CSV Data Upload Section</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
{% block content %}
<div class="box" style="padding: 20px;">
    <h2>Upload Dataset:</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="margin: 20px 0; font-weight: bold">
            <label>Select CSV File:</label>
            <input type="file" name="csv_file" accept=".csv" required>
            <button type="submit" style="text-align: center"><strong>Upload CSV Data</strong></button>
        </div>
    </form>
</div>
{% endblock %}