{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Project 1: Automated Machine Learning Training Section</title>
    <link rel="stylesheet" href="{% static 'train.css' %}">
</head>

{% block content %}
<div class="train-config-container">
    <h2 class="config-title">Machine Learning Model Configuration</h2>
    
    <form method="post" action="{% url 'project1:train' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="label-text">Model Type:</label>
            <select name="model_type" class="select-input">
                <option value="rfc">Random Forest Classifier</option>
                <option value="dtc">Decision Tree Classifier</option>
                <option value="svm">Support Vector Machine Classifier</option>
                <option value="knn">K-Nearest Neighbors Classifier</option>
                <option value="sgdc">Stochastic Gradient Descent Classifier</option>
                <option value="log_reg">Logistic Regression</option>
            </select>
        </div>

        <div class="form-group" id="iter_container">
            <label for="iter_input">Number of iterations (epochs):</label>
                <input type="number" 
                        id="iter_input" 
                        name="iterations"
                        min="1" 
                        max="1000" 
                        value="100">
                <br>
            <small>Maximum number of iterations that can be entered is 1000. Suggested Range for Optimal Convergence: 100 - 1000 (Only for SVM, LogReg, SGDC)</small>
        </div>

        <div class="form-group">
            <label class="label-text">Random Seed Number:</label>
    
            <div class="seed-container">
                <input type="number" id="seed_input" name="random_state" class="select-input" value="42" min="0">
        
                <label class="checkbox-label">
                    <input type="checkbox" id="none_checkbox" onchange="toggleSeed(this)"> Random (None)
                </label>
            </div>

            <p class="help-text">
                Enter a natural number for reproducible results, or check "Random" to change results each time.
            </p>
        </div>

        <div class="form-group">
            <label class="label-text">Class Weight Strategy:</label>
            <select name="class_weight" class="select-input">
                <option value="none">None (Equal Weights)</option>
                <option value="balanced">Balanced (More Weight to Minority Classes)</option>
            </select>
        </div>



        <div class="range-container">
            <label class="label-text">Test Data Ratio:</label>
            <input type="range" name="split_ratio" min="0.1" max="0.9" step="0.05" value="0.2" 
                   oninput="this.nextElementSibling.value = (this.value * 100).toFixed(0) + '%'">
            <output>20%</output>
        </div>

        <div class="eval_metrics_section">
            <label class="label-text">Select Evaluation Metrics:</label>
            <div class="eval_metrics_wrapper">
                <label class="eval_metric_checkbox_item"><input type="checkbox" name="eval_metrics" value="accuracy"> Accuracy</label>
                <label class="eval_metric_checkbox_item"><input type="checkbox" name="eval_metrics" value="precision"> Precision</label>
                <label class="eval_metric-checkbox_item"><input type="checkbox" name="eval_metrics" value="recall"> Recall</label>
                <label class="eval_metric-checkbox_item"><input type="checkbox" name="eval_metrics" value="f1_score"> F1-Score</label>
                <label class="eval_metric-checkbox_item"><input type="checkbox" name="eval_metrics" value="confusion_matrix"> Confusion Matrix</label>
                <label class="eval_metric-checkbox_item"><input type="checkbox" name="eval_metrics" value="classification_report"> Classification Report</label>
            </div>
        </div>

        <div class="submit-container">
            <button type="submit" class="train-button">Start Training The Model</button>
        </div>
    </form>
</div>

<script src="{% static 'train.js' %}"></script>
{% endblock %}