# Django files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Dataset files 
data/
dataset/
input_data/

# Environments
.env
.venv
env/
venv/
hcai_env/
ENV/
env.bak/
venv.bak/

# Python configuration files 
ipython_config.py
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/

# Desktop files 
.DS_Store


# Swap files 
*.swp